// Google fonts
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

// Colors
$primary-color: rgb(80, 32, 80);
$secondary-color: rgb(238, 104, 164);
$primary-gray: rgb(147, 123, 146);
$text-color: rgb(247, 242, 247);
$body-color: rgb(255, 255, 255);

// Text align
$tx-align: center;

// Typography
$ls-headings: -0.1rem;
$lh-headings: 0.8;
$lh-text: 1.5;
// Font style
$fm-primary: "League Spartan", sans-serif;

// Font size
$fs-base: 1rem;
$fs-heading: 3rem;

// Font weight
$fw-light: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

// Widths
$w-container: 20rem;

// Spacing
$mt1: 1.5rem;
$mb1: 1rem;
$mb2: 1.5rem;
$mb3: 2rem;
$mb4: 2.5rem;
